.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 300px;
  padding: 20px;
  border: 1px solic #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}

.menu{
  background-color: cadetblue;
  color: black;
  flex-direction: column;   
}

.titulo{
  background-color: teal;
  color: blue;
}

input, textarea{
  width: 92%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

